body {
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

a, a:hover {
  text-decoration: none;
}

/* Nav Bar */
nav {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #2963F2;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 1.5rem 0;
}

nav a {
  color: black;
  padding: 1.5rem 1rem .5rem;
  font-size: 1.2rem;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  background-color: transparent;
  color: white;
  border-bottom: 3px solid white;
}

.pill-nav a.active {
  background-color: transparent;
  color: white;
  border-bottom: 3px solid white;
}

/* Containers */
.colored-section {
  background-color: #2963F2;
  color: white;
  }
  
.white-section {
  background-color: white;
  }

/* Headings */
h1, h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

.subtitle {
  font-weight: 300;
}

/* Home Page */
.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.profile-image {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin: 3rem;
}

/* Card Flip */
.card {
  background-color: transparent;
  width: 350px;
  height: 450px;
  perspective: 1000px;
  margin: 5rem 0 5rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg); 
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;  /* Safari */
  backface-visibility: hidden;
}

#my-name {
  font-size: 2rem;
  color: white;
}

.card-front {
  background-color: rgb(255, 255, 255, 0.2);
  color: black;
}

.card-back {
  background-color: rgb(255, 255, 255, 0.9);
  transform: rotateY(180deg);
} 

.cardBtn {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 3px solid transparent;
  width: 200px;
  margin: 0.6rem;
}

.cardBtn:hover {
  background-color: white;
  color: #2963F2;
  border-bottom: 3px solid #2963F2;
}

/* Loading spinner */
@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

.spin {
  font-size: 50px;
  text-align: center;
  padding: 6.7rem;
  animation: spin 3s infinite linear;
  display: none;
}

.profile-image {
  display: none;
}

.show {
  display: inline-block;
}

/* Button Animation */
.click-me {
  background-color: black;
  margin: 4rem 0 1rem;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

  .element-animation{
    animation: animationFrames linear 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
  }
  
  @keyframes animationFrames{
    0% {
      transform:  translate(0px,0px)  ;
    }
    15% {
      transform:  translate(0px,-50px)  ;
    }
    30% {
      transform:  translate(0px,0px)  ;
    }
    45% {
      transform:  translate(0px,-15px)  ;
    }
    60% {
      transform:  translate(0px,0px)  ;
    }
    75% {
      transform:  translate(0px,-5px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
      -moz-transform:  translate(0px,0px)  ;
    }
    15% {
      -moz-transform:  translate(0px,-50px)  ;
    }
    30% {
      -moz-transform:  translate(0px,0px)  ;
    }
    45% {
      -moz-transform:  translate(0px,-15px)  ;
    }
    60% {
      -moz-transform:  translate(0px,0px)  ;
    }
    75% {
      -moz-transform:  translate(0px,-5px)  ;
    }
    100% {
      -moz-transform:  translate(0px,0px)  ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    15% {
      -webkit-transform:  translate(0px,-50px)  ;
    }
    30% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    45% {
      -webkit-transform:  translate(0px,-15px)  ;
    }
    60% {
      -webkit-transform:  translate(0px,0px)  ;
    }
    75% {
      -webkit-transform:  translate(0px,-5px)  ;
    }
    100% {
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
      -o-transform:  translate(0px,0px)  ;
    }
    15% {
      -o-transform:  translate(0px,-50px)  ;
    }
    30% {
      -o-transform:  translate(0px,0px)  ;
    }
    45% {
      -o-transform:  translate(0px,-15px)  ;
    }
    60% {
      -o-transform:  translate(0px,0px)  ;
    }
    75% {
      -o-transform:  translate(0px,-5px)  ;
    }
    100% {
      -o-transform:  translate(0px,0px)  ;
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
      -ms-transform:  translate(0px,0px)  ;
    }
    15% {
      -ms-transform:  translate(0px,-50px)  ;
    }
    30% {
      -ms-transform:  translate(0px,0px)  ;
    }
    45% {
      -ms-transform:  translate(0px,-15px)  ;
    }
    60% {
      -ms-transform:  translate(0px,0px)  ;
    }
    75% {
      -ms-transform:  translate(0px,-5px)  ;
    }
    100% {
      -ms-transform:  translate(0px,0px)  ;
    }
  }

/* Accordion Panel */
.accordion {
  background-color: black;
  color: #2963F2;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: white;
  color: #2963F2;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* About Page */
.big-heading {
  font-size: 3.5rem;
  padding: 25rem 0 10rem;
}

.down-arrow {
  color: white;
  cursor: pointer;
}

.down-arrow:hover {
  color: black;
}

#about-content {
  margin: 5rem auto;
  padding: 0 30%;
}

#about-content h3 {
  font-size: 1.2rem;
  margin: 1rem auto;
}

#about-content p {
  color: #8f8f8f;
  margin: 1rem auto 3rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

#about-content img {
  width: 120px;
}

/* Map Gallery */
#map-gallery {
  padding: 5rem 0;
}

.gallery-map {
   display: none;
   max-height: 600px;
}

.activeMap { /*The class that comes last (lower on the css file) will be applied*/
   display: block;
}

.map-gallery {
   display: flex;
   justify-content: center;
}

.gallery-btns {
   display: flex;
   justify-content: center;
}

.gallery-btn {
   background-color: black;
   color: white;
   margin: 1rem 1rem 0;
   border: none;
   border-bottom: 3px solid transparent;
}

.gallery-btn:hover {
  background-color: transparent;
  color: white;
  border-bottom: 3px solid white;
}

.hide {
 visibility: hidden;
}

/* Contact Page */
.form {
  width: 450px;
  margin: 0 auto;
  padding: 3rem 0;
}

fieldset {
  border: none;
  margin: 6rem 0 3rem;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255, 0.2);
}

legend {
  color: black;
  font-weight: 900;
  font-size: 2rem;
  float: left;
  width: 100%;
  margin-top: -5rem;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 300;
}

input {
  width: 15rem;
  height: 1rem;
}

textarea {
  width: 20rem;
  height: 10rem;
}

input, textarea {
  font-size: 1rem;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  border: none;
  font-family: "Montserrat";
}

input:-webkit-autofill  {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: none;
}

.submitBtn {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 3px solid transparent;
  margin-bottom: 2rem;
}

.submitBtn:hover {
  background-color: transparent;
  color: white;
  border-bottom: 3px solid white;
}

.submitBtn:disabled {
  background-color: rgb(128, 128, 128, 0.8);
  color: white;
  border-bottom: 3px solid transparent;
  cursor: not-allowed;
}

/* Custom form checkbox */
.box {
  margin: 1.5rem 0 0 0;
}
input[type="checkbox"] {
  display: none;
}
input {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  background: white;
  content: "\00a0";
  display: inline-block;
  font: 18px/1em sans-serif;
  height: 17px;
  width: 17px;
  margin: 0 .25rem 0 0;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before {
  background: white;
  color: black;
  content: "\2714";
}

/* Footer */
footer {
  text-align: center;
  padding: 3rem;
  background-color: black;
  color: white;
  font-size: 0.8rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
}

footer a {
  color: white;
  padding: 0.5rem;
}

footer a:hover {
  color: #2963F2;
}

#footer-string {
  color: #8f8f8f;
}
